# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

# All files
[*]
# Change these settings to your own preference
indent_style = space
indent_size = 4
tab_width = 4
max_line_width = 100

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Xml project files
[*.{csproj,vcxproj,vcxproj.filters,proj,nativeproj,locproj}]
indent_size = 2

# Microsoft Solution
[*.sln]
ident_size = 2
insert_final_newline = true

# Xml build files
[*.builds]
indent_size = 2

# Xml files
[*.{xml,stylecop,resx,ruleset}]
indent_size = 2

# Indentation override for all JS under lib directory
[*.{js,cjs,mjs,json,vue,scss,rb,haml,yml,yaml,toml}]
indent_size = 2
tab_width = 2

# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{*.yml,*.yaml,package.json}]
indent_size = 2

# Makefile
[Makefile, *.mk]
indent_style = tab
trim_trailing_whitespace = false

[{CMakeLists.txt,*.cmake}]
tab_width = 4

# Source code files
[*.{c,cxx,cpp,h,hxx,hpp,java,m,mm,py,xsl,astro}]
indent_size = 2
tab_width = 2

[*.{swift}]
ident_size = 2
tab_width = 2

[*.{adoc,md,markdown}]
ident_size = 2
trim_trailing_whitespace = false

[*.{sh,msx}]
indent_size = 2

[*.{css}]
indent_size = 2

[LICENSE]
insert_final_newline = false
