# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

# All files
[*]
# Change these settings to your own preference
max_line_width = 100

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true
indent_size = 2 
indent_style = tab

# Makefile
[Makefile, *.mk]
trim_trailing_whitespace = false

[{CMakeLists.txt,*.cmake}]
tab_width = 4

# Source code files
[*.{adoc,md,mdx,markdown}]
indent_style = space

[LICENSE]
insert_final_newline = false
