/app/assets/javascripts/locale/**/app.js

/fixtures/lib/gitlab/graphql/
/node_modules/
/public/
/vendor/
/tmp/
/sitespeed-result/
/.mypy_cache/
/build/
.clang-tidy
pnpm-lock.yaml
yarn.lock
docs/.gitpod.yml
docs/node_modules
docs/.changeset
docs/pnpm-lock.yaml
docs/yarn.lock
*.md
*.mdx

out
image
dist
bin
.vscode-test

Pipfile.lock
